aiohttp==3.11.14
backend==0.2.4.1
fastapi==0.116.1
opencv_python==4.12.0.88
opencv_python_headless==4.11.0.86
pydantic==2.11.7
python_json_logger==3.3.0
PyYAML==6.0.2
PyYAML==6.0.2
torch==2.7.1
yt_dlp==2025.8.22
